* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100vw;
  height: 100vh;
}

#wrap {
  width: 100vw;
  height: 10vh;
  background-color: rgb(34, 34, 34);
}
header {
  width: 1280px;
  margin: 0 auto;
}

#loginwrap {
  padding: 20px 10px 15px 10px;
}
#login {
  float: right;
  display: flex;
}
#login li a {
  color: #fff;
  font-size: 14px;
}
#login li:first-child {
  padding-right: 20px;
}

#menu {
  display: flex;
  padding-top: 10px;
  text-align: center;
}
#menu li:not(:first-child) {
  padding-left: 100px;
}
#menu li:first-child {
  padding-right: 100px;
}
#menu li a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

#menu a:after {
  display: block;
  width: 100%;
  content: "";
  border-bottom: solid 4px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  padding-bottom: 5px;
}

#menu a:hover {
  font-weight: 900;
}
#menu a:hover:after {
  transform: scaleX(1);
}
#logo {
  width: 160px;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #ddd;
  width: 100vw;

  font-size: 12px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
}
footer address {
  width: 1280px;
  margin: 0 auto;
}

footer address a {
  color: black;
}
